#container {
	min-width:850px;
}

#titlebar {
	height: 50px;
	background-color: #000;
}

#nav {
	float: right;
	padding: 10px 10px 0 10px;
}

#content {
	padding: 20px;
	
}

#tagsbar {
	float: right;
	width: 200px;
	margin: 0 40px 0 0;
}

hr {
	height: 5px;
	background-color: #000;
	margin: 20px 0 0px 0;
}

.maincontent {
	margin: 0 10px 0 10px;
	float: left;
	width: 600px;
}

.logo {
	float: left;
	color: #FFF;
	font-weight: bold;
	font-size: 150%;
}

.label {
	color: #FFF;
	font-weight: bold;
}

#searchbar {
	float: right;
}

.errorlist li{
	color: #F00;
}

#newpagedialog {
	position: absolute;
	background: #FFF;
	background-image:url('createpagewindow.png');
	color: #000;
	height:213px;
	width: 421px;
	margin: 50px 0 0 100px;
	/*outline: 3px solid #F00;*/
}

.addpagebutton {
	color: #FFF;
	font-weight: bold;
	font-size: 250%;
	margin: 0 5px 0px 20px;
	/*outline: 2px solid #F00;*/
	float: left;
}

.closebutton {
	float: right;
	margin: 3px 9px 0 5px;
	text-size: 70%;
}

.createpagebox {
	margin-left: 10px;
}

