#container {
	min-width:600px;
}

#titlebar {
	height: 50px;
	background-color: #000;
}

#nav {
	float: right;
	padding: 10px 10px 0 10px;
}

#content {
	padding-top: 10px;
	
}

#tagsbar {
	float: right;
	width: 200px;
	margin: 0 40px 0 0;
}

hr {
	height: 5px;
	background-color: #000;
	margin: 20px 0 0px 0;
}

.maincontent {
	margin: 0 10px 0 10px;
	float: left;
	width: 600px;
}

.logo {
	float: left;
	color: #FFF;
	font-weight: bold;
	font-size: 150%;
}

.label {
	color: #FFF;
	font-weight: bold;
}

#searchbar {
	float: right;
}
