<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/site_media/blueprint/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/site_media/blueprint/print.css" type="text/css" media="print" />
		<!--[if IE]><link rel="stylesheet" href="/site_media/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
		<link rel="stylesheet" href="/site_media/style.css" type="text/css" media="screen, projection" />
		<script type="text/javascript" src="/site_media/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="/site_media/addpage.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="titlebar">
				<div class="logo"><a href="#"><img src="/site_media/logo.png" alt="wiki" /></a></div>
				<div id="nav">
					<span class="label">Menu:</span> <a href="/wiki/page/Start/">Start Page</a> 
				</div>
				<div><a href="#" class="addpagebutton" style="text-decoration:none;"><img src="/site_media/createpage.jpg" alt="Create Page" style="margin-top: 2px;"/></a></div>
				<div id="newpagedialog">
					<form method="post" action="">{% csrf_token %}
						<span class="createpagebox">{{ newpageform }}</span>
						<input type="submit" name="newpage" value="create" />
						<span class="closebutton"><a href="#" class="closebutton"><img src="/site_media/closebutton.png" alt="cancel"/></a></span>
					</form>
				</div>
				
				<div id="searchbar">
					<form method="post" action="" style="color:#FFF;">{% csrf_token %}
						<input type="submit" name="searchbar" value="Search" />
						{{ form.text }}
						{{ form.search_content.label }}
						{{ form.search_content }}
					</form>
				</div>
				
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>